.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #fafafa;
}

.content {
  display: flex;
  flex-direction: column;
}

.pickerContainer {
  display: flex;
  flex-direction: row;
}

.pickerText {
  flex: 1 1 200px;
  padding: 19px 5px 0;
  font-weight: 500;
  font-size: 20px;
}

.pickerInput {
  flex: 0 1 auto;
}

.difference {
  text-align: center;
  margin-top: 30px;
}

.differenceText {
  color: #444;
}
